In [30]:
import pandas as pd
import numpy as np

In [31]:
df_train=pd.read_csv("train_final.csv",index_col=False)
df_train.head()

,0,1,2,3,4,5,6,7,8,9,...,775,776,777,778,779,780,781,782,783,784
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,10
1,255,255,255,255,255,255,255,255,255,255,...,0,0,0,0,0,0,0,0,0,10
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,10
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,10
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,10

In [32]:
labels=df_train["784"] #last column

In [33]:
df_train.drop(df_train.columns[[784]],axis=1,inplace=True)
df_train.head()

,0,1,2,3,4,5,6,7,8,9,...,774,775,776,777,778,779,780,781,782,783
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,255,255,255,255,255,255,255,255,255,255,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [34]:
np.random.seed(1212)
from keras.models import Model
from keras.layers import *
from keras import optimizers
from keras.layers import Input,Dense
from keras.models import Sequential
from keras.layers import Dropout
from keras.layers import Flatten
from keras.layers.convolutional import Conv2D
from keras.layers.convolutional import MaxPooling2D
from keras.utils import np_utils

In [35]:
df_train.head()

,0,1,2,3,4,5,6,7,8,9,...,774,775,776,777,778,779,780,781,782,783
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,255,255,255,255,255,255,255,255,255,255,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [36]:
labels=np.array(labels)

In [37]:
from keras.utils.np_utils import to_categorical
cat=to_categorical(labels,num_classes=13)

In [38]:
l=[]
for i in range(47504):
    l.append(np.array(df_train[i:i+1]).reshape(28,28,1))

In [39]:
np.random.seed(7)

In [40]:
model=Sequential()
model.add(Conv2D(30,(5,5),input_shape=(28,28,1),activation="relu"))
model.add(MaxPooling2D(pool_size=(2,2)))
model.add(Conv2D(15,(3,3),activation="relu"))
model.add(MaxPooling2D(pool_size=(2,2)))
model.add(Dropout(0.2))
model.add(Flatten())
model.add(Dense(128,activation="relu"))
model.add(Dense(50,activation="relu"))
model.add(Dense(13,activation="softmax"))

In [45]:
model.compile(loss="categorical_crossentropy",optimizer="adam",metrics=["accuracy"])

In [46]:
model.fit(np.array(l),cat,shuffle=True,epochs=10)

Epoch 1/10
1485/1485 [==============================] - 35s 17ms/step - loss: 1.3650 - accuracy: 0.6997
Epoch 2/10
1485/1485 [==============================] - 26s 17ms/step - loss: 0.1698 - accuracy: 0.9485
Epoch 3/10
1485/1485 [==============================] - 26s 17ms/step - loss: 0.1135 - accuracy: 0.9649
Epoch 4/10
1485/1485 [==============================] - 26s 17ms/step - loss: 0.0882 - accuracy: 0.9737
Epoch 5/10
1485/1485 [==============================] - 26s 18ms/step - loss: 0.0745 - accuracy: 0.9788
Epoch 6/10
1485/1485 [==============================] - 26s 18ms/step - loss: 0.0656 - accuracy: 0.9794
Epoch 7/10
1485/1485 [==============================] - 26s 17ms/step - loss: 0.0576 - accuracy: 0.9832
Epoch 8/10
1485/1485 [==============================] - 26s 18ms/step - loss: 0.0515 - accuracy: 0.9839
Epoch 9/10
1485/1485 [==============================] - 26s 18ms/step - loss: 0.0421 - accuracy: 0.9877
Epoch 10/10
1485/1485 [==============================] - 26s 18ms/step - loss: 0.0424 - accuracy: 0.9884

In [47]:
import cv2

In [61]:
img=cv2.imread("C:/Users/aksha/OneDrive/Desktop/final_year_project/data/out2.png",cv2.IMREAD_GRAYSCALE)
cv2.imshow("w",img)
cv2.waitKey(0)
cv2.destroyAllWindows()
if img is not None:
    img=~img
    _,thresh=cv2.threshold(img,127,255,cv2.THRESH_BINARY)
    ctrs,_=cv2.findContours(thresh,cv2.RETR_TREE,cv2.CHAIN_APPROX_SIMPLE)
    cnt=sorted(ctrs,key=lambda ctr:cv2.boundingRect(ctr)[0])
    w=int(28)
    h=int(28)
    train_data=[]
    rects=[]
    for c in cnt:
        x,y,w,h=cv2.boundingRect(c)
        rect=[x,y,w,h]
        rects.append(rect)
    print("rects",rects)
    bool_rect=[]
    for r in rects:
        l=[]
        for rec in rects:
            flag=0
            if rec!=r:
                if r[0]<(rec[0]-rec[2]+10) and r[0]<(rec[0]+rec[2]+10) and rec[1]<(rec[1]+rec[3]+10) and rec[1]<(rec[1]+rec[3]+10):
                    flag=1
                l.append(flag)
            if rec==r:
                l.append(0)
        bool_rect.append(l)
    print("bools",bool_rect)
    dump_rect=[]
    for i in range(0,len(cnt)):
        for j in range(0,len(cnt)):
            if bool_rect[i][j]==1:
                area1=rects[i][2]*rects[i][3]
                area2=rects[j][2]*rects[j][3]
                if(area1==min(area1,area2)):
                    dump_rect.append(rects[i])
    print("dump_rects",dump_rect)
    final_rects=[i for i in rects if i not in dump_rect]
    print("final rects",final_rects)
    for r in final_rects:
        x=r[0]
        y=r[1]
        w=r[2]
        h=r[3]
        im_crop=thresh[y:y+h+10,x:x+w+10]
        im_resize=cv2.resize(im_crop,(28,28))
        cv2.imshow("work",im_resize)
        cv2.waitKey(0)
        cv2.destroyAllWindows()
        train_data.append(im_resize)

rects [[207, 236, 125, 130], [443, 237, 85, 103], [646, 223, 101, 128]]
bools [[0, 1, 1], [0, 0, 1], [0, 0, 0]]
dump_rects [[443, 237, 85, 103]]
final rects [[207, 236, 125, 130], [646, 223, 101, 128]]